div(class="ow3")

div(class="row") 
    div(class="leftcolumn") 
        div(class="card") 
            h2 Resultados y hallazgos
            div(class="ow4")
            p Los resultados de este análisis no son realmente una sorpresa, el reducir que se pueda obtener una ventaja competitiva a un solo dispositivo es una tarea sumamente complicada, aunque, si bien, el uso del mouse es un factor importante, tampoco se puede reducir al tamaño, peso y sensibilidad de este, existe otra gran cantidad de variables que no se pudieron tomar en cuenta y que influyen para lograr obtener una ventaja competitiva como, por ejemplo:
            ol 
                li Estatura promedio de los participantes.
                li Tipo de superficie sobre el cual se usa el dispositivo.
                li Tamaño de superficie sobre la cual se usa el dispositivo.
                li Tiempo de experiencia de juego del participante.
                li Latencia promedio del equipo.
                li Entre otras cosas.
            
            p Este tipo de variables son de mucha importancia pues un mismo mouse de, por ejemplo, tamaño chico podrá favorecer a jugadores de países orientales, pero no a jugadores de países europeos que cuentan con una estatura promedio mucho mayor. Con esto en mente podemos darnos una clara idea del nivel de profundidad necesario para encontrar un patrón más acertado, que demuestre generar un desempeño favorable en las ligas profesionales de un videojuego como lo es Overwatch.
            p Por otro lado, esto no significa que los datos no son de valor, pues dan una idea clara del nivel y variedad de las empresas rivales que desarrollan este tipo de periféricos al igual que permiten orientar nuevas campañas de marketing con colaboraciones para impulsar las ventas de los dispositivos.
            p En resumen, este análisis proporcionó una base para profundizar en nuevas investigaciones al dejar en claro que las ventajas competitivas no se pueden reducir a un dispositivo dado a la alta variabilidad del entorno de juego, al igual que da pie a nuevas ideas de proyectos para impulsar decisiones empresariales y la creatividad para nuevas campañas de marketing.

        div(class="card") 
            h2 Limitaciones y consideraciones
            div(class="ow1")
            p Es importante reconocer las limitaciones y consideraciones relevantes de este análisis de datos. Algunas de las limitaciones a tener en cuenta son:
            p Sesgo de cantidad: Hay que recordar que las personas que juegan de forma profesional son muy contadas, por lo que la información es poca y puede no ser acertada para aplicar sobre la enorme comunidad activa del videojuego.
            p Calidad de los datos: Si bien se hizo todo lo posible para garantizar la precisión y fiabilidad de los datos, estos fueron recopilados por un usuario de Kaggle que reunió información de distintas páginas que pudieron contar con datos no referentes a la temporada de juego especulada, además de que no todos los jugadores profesionales comparten sus configuraciones, por lo que existe riesgo a datos sesgados.
            p Variables no consideradas: Como se mencionó en los resultados, hay una gran cantidad de variables extra que se deben de considerar para generar resultados mucho más acertados y que no se pudieron incluir en el análisis dado a la complejidad de recolección en comparación con el propósito del análisis. 

//div(class="footer") 
    h2 Footer
