extends layout

block content
  // Pestañas
  div(id="Introduccion" class="tabcontent")
    include intro.pug 

  div(id="Analisis" class="tabcontent")
    include analysis.pug

  div(id="Conclusiones" class="tabcontent")
    include conclusions.pug 

  div(id="Referencias" class="tabcontent")
    include referencias.pug 

  script 
    include ../public/javascripts/navbar.js