
div(class="ow2")

div(class="row") 
    div(class="content") 
        div(class="card") 
            h2 PROPÓSITO
            p Esta página web tiene el propósito de presentar información, gráficos y análisis para relacionar el uso de los distintos tipos de periféricos de tipo mouse, con los resultados finales de los jugadores de la Overwatch League en la temporada del año 2021 con el fin de identificar si alguna de las variables (como la sensibilidad, peso, tamaño, etc.) pueden determinar un mejor rendimiento a la hora de jugar.            
            p Con este análisis se pretende obtener una mejor comprensión de los factores que podrían ayudar a determinar el rendimiento de los jugadores profesionales.

        div(class="card") 
            h2 FUENTE DE DATOS
            div(class="kaggle")
            p Los datos a utilizar para este análisis fueron recopilados por un usuario fanático del videojuego, publicados en la página de Kaggle y se encuentran divididos en 5 distintos archivos:
            P Mouse Data: Datos recopilados de la página de Rocket Jump Ninja, creador de contenido dedicado a criticar dispositivos de tipo “mouse”, con más de 100 revisiones de distintos modelos. Cuenta con la siguiente información:

            table(id="table")
                tr
                    th Nombre de Variable
                    th Descripción

                tr
                    td Model
                    td Modelo del periférico.
                tr
                    td Brand
                    td Marca del periférico (Añadido para este análisis).
                tr
                    td Size
                    td Tamaño del periférico (S, M, L, XL).
                tr
                    td Length
                    td Largo del periférico en centímetros.
                tr
                    td GripWidth
                    td Ancho mínimo del periférico en centímetros.
                tr
                    td Weight
                    td Peso del periférico en gramos.
                tr
                    td WeightToSizeRatio
                    td Relación peso/tamaño (si el valor está abajo del 1 indica un peso ligero respecto a su tamaño y si el valor es mayor a 1 indica mayor peso respecto a su tamaño).

            p OWL Roster: Datos recopilados de la página de #[a(href="https://liquipedia.net/")  liquipedia.net], una wiki con información respecto a los jugadores de eSports. Cuenta con la siguiente información: 

            table(id="table")
                tr
                    th Nombre de Variable
                    th Descripción

                tr
                    td ID
                    td Nombre clave del jugador.
                tr
                    td Team
                    td Equipo del jugador.
                tr
                    td Status
                    td Indica si sigue jugando o no.
                tr
                    td Roles
                    td Rol dentro del juego (Tanque, Daño o Soporte).
                tr
                    td HaveSettings
                    td Indica si el jugador ha publicado la configuración de su mouse.
                tr
                    td Hero
                    td Personaje en el que se especializa.
                tr
                    td TwitchStream
                    td Liga al canal de Twitch del jugador.


            p Datos recopilados de #[a(href="https://progearandsettings.com/")  progearandsettings.com], base de datos que recopila la configuración de cada jugador profesional. Cuenta con la siguiente información:

            table(id="table")
                tr
                    th Nombre de Variable
                    th Descripción

                tr
                    td Player
                    td Nombre clave del jugador.
                tr
                    td IsPofessional
                    td Indica si está catalogado como profesional.
                tr
                    td Role
                    td Rol dentro del juego (Tanque, Daño o Soporte).
                tr
                    td MouseModel
                    td Modelo de periférico que usa el jugador.
                tr
                    td MouseBrand
                    td Marca del periférico que usa el jugador (Añadido para este análisis).
                tr
                    td MouseWeight
                    td Peso del periférico que usa el jugador en gramos.
                tr
                    td MouseWeightToSizeRatio
                    td Relación peso/tamaño (explicado anteriormente) del periférico que usa el jugador.
                tr
                    td DPI
                    td Sensibilidad programada en el periférico que usa el jugador.
                tr
                    td Sesitivity
                    td Sensibilidad programada dentro del juego por el jugador.
                tr
                    td eDPI
                    td Sensibilidad efectiva del jugador (se calcula multiplicando el DPI del periférico por la sensibilidad dentro del juego).
                tr
                    td cmPer360
                    td Centímetros que recorre el mouse jugador para lograr un giro de 360 grados.
                tr
                    td TwitchStream
                    td Liga al canal de Twitch del jugador.
            p Teams Results: Datos extendidos por el autor de esta página web y extraídos de #[a(href="https://liquipedia.net/")  liquipedia.com]. Cuenta con la siguiente información: 

            table(id="table")
                tr
                    th Nombre de Variable
                    th Descripción

                tr
                    td Team
                    td Equipo participante.
                tr
                    td Points
                    td Puntuación final.

        div(class="card") 
            h2 METODOLOGÍA
            div(class="qlik")
            p El análisis se enfocó meramente en el uso las distintas funciones de la herramienta Qlik, la cual permitió realizar visualizaciones interactivas de tipo gráfica de barras, KPI, pai, distribución, caja, etc. las cuales permitieron la correlación visual clara de la interacción entre las variables analizadas. No se realizaron cálculos de correlación debido al tamaño del proyecto.

        div(class="card") 
            h2 VARIABLES Y CARACTERÍSTICAS
            div(class="logi ")
            p En muchos videojuegos, mayormente en los FPS (First Person Shooter) la precisión del mouse es de suma importancia para lograr hazañas que permitan conseguir una ventaja importante contra los rivales, es por ello por lo que cada jugador debe seleccionar su dispositivo con cautela, pues existen distintos aspectos que pueden afectar el dominio del juego por parte de cada jugador profesional. Entre ellos se encuentran los siguientes:
            ol
                li Peso.
                li Sensor.
                li Tamaño y forma.
                li Botones y rueda.
                li La distancia de levantamiento.
            p En este análisis se consideraron las variables y características relacionadas al rendimiento y preferencia de los jugadores de cada equipo registrado, estas relacionadas del punto 1 al 3. Estas variables incluyeron:
            p Mouse Data:

            table(id="table")
                tr
                    th Nombre de Variable
                    th Descripción

                tr
                    td Model
                    td Modelo del periférico.
                tr
                    td Brand
                    td Marca del periférico.
                tr
                    td Length
                    td Largo del periférico en centímetros.
                tr
                    td GripWidth
                    td Ancho del periférico en centímetros.
                tr
                    td Weight
                    td Peso del periférico en gramos.
                tr
                    td WeightToSizeRatio
                    td Relación peso/tamaño (explicado anteriormente) del periférico que usa el jugador.

            p OWL Roster: 

            table(id="table")
                tr
                    th Nombre de Variable
                    th Descripción

                tr
                    td Team
                    td Equipo del jugador.

            p Player Settings:

            table(id="table")
                tr
                    th Nombre de Variable
                    th Descripción

                tr
                    td MouseModel
                    td Modelo de periférico que usa el jugador.
                tr
                    td MouseBrand
                    td Marca del periférico que usa el jugador (Añadido para este análisis).
                tr
                    td MouseWeight
                    td Peso del periférico que usa el jugador.
                tr
                    td MouseWeightToSizeRatio
                    td Relación peso/tamaño (explicado anteriormente) del periférico que usa el jugador.
                tr
                    td DPI
                    td Sensibilidad programada en el periférico que usa el jugador.
                tr
                    td Sesitivity
                    td Sensibilidad programada dentro del juego por el jugador
                tr
                    td eDPI
                    td Sensibilidad efectiva del jugador (se calcula multiplicando el DPI del periférico por la sensibilidad dentro del juego).

            p Teams Results: 

            table(id="table")
                tr
                    th Nombre de Variable
                    th Descripción

                tr
                    td Team
                    td Equipo participante.
                tr
                    td Points
                    td Puntuación final.

//div(class="footer") 
    h2 Footer
