h3 Propósito
p Esta página web tiene el propósito de presentar información, gráficos y análisis para relacionar el uso de los distintos tipos de perifericos de tipo mouse con los resultados finales de los jugadores de la Overwatch League en la temporada del año 2021.
p Se planea lograr esto usando un set de datos ligeramente extendidos por el autor de esta página que incluye información de cada jugador, el mouse que utilizan y su configuración de juego, extendiendo a la relación que tiene cada jugador con su equipo profesional y sus resultados en la temporada profesional del año 2021.
h3 ¿Qué es Overwatch?
p Overwatch es un juego FPS que se caracteriza por su modalidad de equipo contra equipo en el que los jugadores forman un grupo de 5 heroes únicos con habilidades distintivas y roles específicos, teniendo que trabajar juntos para lograr un objetivo y derrotar al equipo rival.
p A lo largo de los años, Overwatch desarrolló una comunidad activa y apasionada al punto de convertirse en un juego con competencias de alto nivel de habilidad al grado de no solo contar con una liga sino también con una copa mundial que se lleva a cabo en la convención de la desarrolladora Blizzard (Blizzcon).
p Importancia del mouse
p En muchos videojuegos, especialmente en los FPS (First Person Shooter) la precisión del mouse es de suma importancia para lograr hazañas que permitan conseguir una ventaja importante contra los rivales, es por ello que cada jugador debe seleccionar su dispositivo con cautela, pues existen distintos aspectos que pueden afectar el dominio del juego por parte de cada jugador profesional. Entre ellos se encuentran los siguientes:
p 1.	Peso
p 2.	Sensor
p 3.	Tamaño y forma
p 4.	Botones y rueda
p 5.	La distancia de levantamiento
