doctype html
html(lang="en")
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1')

    title= title
    style
      include ../public/stylesheets/style.css
      include ../public/stylesheets/blogLayout.css
      include ../public/stylesheets/tables.css
      include ../public/stylesheets/heroimages.css

  body
    button(class="tablink" onclick="openPage('Introduccion', this, '#f99e1a')") Introducción
    button(class="tablink" onclick="openPage('Analisis', this, '#405275')") Análisis
    button(class="tablink" onclick="openPage('Conclusiones', this, '#218ffe')" id="defaultOpen") Conclusiones
    button(class="tablink" onclick="openPage('Bibliografia', this, '#43484c')") Bibliografía

    block content