doctype html
html(lang="en")
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    
    title= title
    
    // Importing Qlik's JS files
    script(type='text/javascript').
    script(type='module', src='https://unpkg.com/@qlik/sdk')
    script(src='https://unpkg.com/enigma.js')
    script(src='https://unpkg.com/@nebula.js/stardust')
    script(src='https://unpkg.com/@nebula.js/sn-pie-chart')
    script(type="module" src="../../app.js")

    // Style
    style(type='text/css').
      body, html {
        width: 100%; 
        height: 100%; 
        margin: 0; 
        padding: 0
      }
      .row-container {
        display: flex; 
        width: 100%; 
        height: 100%; 
        flex-direction: 
        column; 
        background-color: blue; 
        overflow: hidden;
      }
      .first-row {
        background-color: lime; 
      }
      .second-row { 
        flex-grow: 1; 
        border: none; 
        margin: 0; 
        padding: 0; 
      }

  body
    block content