doctype html
html(lang="en")
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1')

    title= title
    style
      include ../public/stylesheets/style.css
      include ../public/stylesheets/blogLayout.css

  body
    button(class="tablink" onclick="openPage('Introduccion', this, 'red')") Introducción
    button(class="tablink" onclick="openPage('News', this, 'green')" id="defaultOpen") News
    button(class="tablink" onclick="openPage('Contact', this, 'blue')") Contact
    button(class="tablink" onclick="openPage('About', this, 'orange')") About

    block content