div(class="ow6")

div(class="row") 
    div(class="leftcolumn") 
        div(class="card") 
            h5 #[a(href="https://www.makeuseof.com/fps-gaming-mouse-key-characteristics/")  Borja, J. (2022). 5 Key Characteristics to Look for in an FPS Gaming Mouse. MUO. https://www.makeuseof.com/fps-gaming-mouse-key-characteristics/]
            h5 #[a(href="https://liquipedia.net/overwatch/Overwatch_League/Season_4")  Overwatch League - 2021 - Liquipedia Overwatch Wiki. (s. f.). https://liquipedia.net/overwatch/Overwatch_League/Season_4]
            h5 #[a(href="https://www.kaggle.com/datasets/yakiya51/pro-overwatch-player-settings?select=player_settings.csv")  Professional Overwatch Player Mouse/Sens. Settings. (2021, 16 junio). Kaggle. https://www.kaggle.com/datasets/yakiya51/pro-overwatch-player-settings?select=player_settings.csv]
            h5 #[a(href="https://www.w3schools.com/")  W3Schools Online Web Tutorials. (s. f.). https://www.w3schools.com/]

div(class="footer") 
    h2 Hecho por Antonio Torres Carvajal

//div(class="row-container")
    div(class="first-row")
        p Some text
        p And some more text

    iframe(class="second-row" src="https://pr55hx3zw2skfny.us.qlikcloud.com/single/?appid=53b0d76b-0c0b-4897-af5a-fccd26dad6b0&sheet=1a2d1569-7eb0-47a5-a37e-208c7e7ef54e&theme=horizon&opt=ctxmenu,currsel") 
