body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

body, html {
  width: 100%; 
  height: 100%; 
  margin: 0; 
  padding: 0
}

/* ------------------------------------- iFrame ------------------------------------- */

.ifrm {
  width: 100%;
  min-height: 500px;
}

.row-container {
  display: flex; 
  width: 100%; 
  min-height: 100%;
  flex-direction: column; 
  background-color: blue; 
  overflow: hidden;
}
.first-row {
  background-color: lime; 
}
.second-row { 
  flex-grow: 1; 
  border: none; 
  margin: 0; 
  padding: 0; 
}

/* ------------------------------------- Navigation bar ------------------------------------- */

/* Set height of body and the document to 100% to enable "full page tabs" */
body, html {
  height: 100%;
  margin: 0;
}

/* Style tab links */
.tablink {
  background-color: #555;
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  width: 25%;
}

.tablink:hover {
  background-color: #777;
}

/* Style the tab content (and add height:100% for full page content) */
.tabcontent {
  color: white;
  display: none;
  padding: 100px 20px;
  min-height: 100%;
}

#Introduccion {background-color: red;}
#Analisis {background-color: green;}
#Contact {background-color: blue;}
#About {background-color: orange;}